In [1]:
# Task 1

'''
2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included). 
The numbers obtained should be printed in a comma-separated sequence on a single line.
'''

nl=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

In [2]:
'''
3. Write a Python program to accept the user's first and
last name and then getting them printed in the the reverse order with
a space between first name and last name.
'''

fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : Md Akram
Input your Last Name : Khan
Hello  Khan Md Akram

In [3]:
'''
4. Write a Python program to find the volume of a sphere with diameter 12 cm.

Formula: V=4/3 * Ï€ * r3 
'''

Diam_cm = 12
radius_cm = 6 # radius = Diameter/2
pie = 3.14

# formula 

V = (4/3 * pie * (radius_cm ** 3))

print(V)

904.3199999999999

In [ ]:
# Task 2
'''
1. Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

'''
number=input()
list1_num=number.split(",")
list1_num